<p *ngIf="!items || !user">Loading...</p>

<table class='table table-striped' *ngIf="user && items && items.length > 0">
  <thead>
    <tr>
      <th>Item</th>
      <th>Seller</th>
      <th>Top Bid</th>
      <th>Time Remaining</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <a href="">{{ item.Name }}</a>
      </td>
      <td>{{ item.Seller.FirstName }}</td>
      <td>{{ item.Bids[0].Ammount }}</td>
      <td>{{ item.TimeRemainingText }}</td>
      <td>
        <button *ngIf="user.UserId == item.Seller.UserId">can edit</button>
      </td>
    </tr>
  </tbody>
</table>
