<nav class="navbar navbar-light bg-light justify-content-between">
	<a onclick="location.href='@Url.Action("Index", "Home")'" class="navbar-brand">BeltExam</a>
	<button onclick="location.href='@Url.Action("Logout", "LogReg")'">Logout</button>
</nav>